# 读/写 excel

欢迎大家回到 Machine Learning Diary~👏

今天这节课主要带大家熟悉一下怎么使用python来操作Excel文件。基本上Excel的处理与DataFrame格式是分不开的，可以理解为DataFrame就是Excel在python里的一种表现形式。

打开Jupyter，首先按照上节课教的自己生成一个DataFrame：

In [45]:
import pandas as pd

## 创建DataFrame ##
df = pd.DataFrame({'col1':[1,2,3,4], 'col2':[4,5,6,7], 'col3':[7,8,9,10]})
df

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
3     4     7    10

接下来尝试把这个dataframe保存成一个excel文件，首先要确定文件保存的路径。我们先来查看下当前路径：

In [23]:
import os
path = os.path.dirname(os.path.abspath('__file__'))  # 查看当前文件的路径
# path = os.getcwd()                                 # 查看路径的另一种方式
print(path)

D:\cwzy\Girls-In-AI\machine_learning_diary\base\read_write

上面的这个"D:\cwzy\Girls-In-AI\machine_learning_diary\base\read_write"就是我当前这个jupyter文件的当前路径。

现在我要把df保存到相同的路径下面，使用to_excel()就可以，在括号内写上你想保存的文件名：

In [19]:
df.to_excel('dataframe.xlsx')

运行完上一句之后，打开"D:\cwzy\Girls-In-AI\machine_learning_diary\base\read_write"路径下查看，已经出现"dataframe.xlsx"，打开excel文件后里面的内容就是刚刚生成的表格数据。当然你的路径可能跟我的不一样，打开你对应的路径就可以了。

如果你需要切换路径，先使用os.chdir来切换文件夹，比如你想把表格保存到桌面，运行下面代码：

In [37]:
os.chdir("C:/Users/ZhangYi/Desktop")  # 这里换上你的桌面路径
df.to_excel('dataframe.xlsx')

运行之后，你到桌面就能看见刚刚生成的excel文件了。

好了，现在你已经知道如何保存一个excel文件了。接下来尝试读取一个excel，很简单，使用pandas包的read_excel()函数就可以了，在括号内写上你想读取的excel路径名：

In [47]:
df2 = pd.read_excel('dataframe.xlsx')  # 读取刚才在桌面生成的excel文件
df2

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
3     4     7    10

此时，这个excel已经读进了python里面，与之前的df虽然长的一样，但已经是两个表格了。我们来尝试对这个df2做些改变：

In [33]:
print('增加一列： col4，使数值为1')
df2['col4'] = 1
print(df2,'\n')
print('将第一列的第4个数改成0')
df2['col1'][3] = 0
print(df2)

增加一列： col4，使数值为1
   col1  col2  col3  col4
0     1     4     7     1
1     2     5     8     1
2     3     6     9     1
3     4     7    10     1

将第一列的第4个数改成0
   col1  col2  col3  col4
0     1     4     7     1
1     2     5     8     1
2     3     6     9     1
3     0     7    10     1

可以尝试把df2再保存到桌面，如果文件名不变的话，将覆盖掉df：

In [34]:
df2.to_excel('dataframe.xlsx')

此时你再到桌面打开"dataframe.xlsx"，里面的内容已经被修改了。

除了excel，DataFrame还可以保存成.csv格式。CSV是一个非常常见也非常重要的表格格式，与".xlsx"差不多。我们来简单感受一下读写CSV。之后也是会经常与它见面的。


# 读/写 csv

将刚才的df2保存成csv格式，使用to_csv()，并且括号里文件的后缀也需要修改：

In [39]:
df2.to_csv('df2.csv')

此时桌面已经有了df2.csv文件，是不是很简单。同样的，我们再来尝试读取这个csv文件：

In [48]:
df3 = pd.read_csv('df2.csv')
df3

   Unnamed: 0  col1  col2  col3  col4
0           0     1     4     7     1
1           1     2     5     8     1
2           2     3     6     9     1
3           3     0     7    10     1

我这里的用csv读取的df多增加了Unnamed: 0这一列。我使用list(df)来检查下列名：

In [51]:
list(df3)

['Unnamed: 0', 'col1', 'col2', 'col3', 'col4']

的确从4列变成了5列，是因为把index索引那一列也变成了真正的一列，因此我要把这没用的一列删掉：

In [54]:
df3 = df3.drop('Unnamed: 0',1)
df3

   col1  col2  col3  col4
0     1     4     7     1
1     2     5     8     1
2     3     6     9     1
3     0     7    10     1

大功告成！

敲代码，有时候，就是这么简单！哈哈哈哈！在编程的世界里，办法总是比困难多~

👩好啦，今天的课程就到这里啦！咱们下次见！~